@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-searchArea {
    background-image: url("https://assets.ccbp.in/frontend/dynamic-webapps/library-management-bg.png");
    background-size: cover;
    height: 100vh;
    padding: 30px;
}

.main-heading {
    font-family: Roboto;
    color: #ffffff;
    font-weight: 500;
}

.result-msg {
    font-family: Roboto;
    color: #323f4b;
    font-size: 30px;
    padding: 10px;
}

.book-image {
    width: 150px;
    height: 210px;
}

.author-name {
    font-family: Roboto;
    color: #323f4b;
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
}